<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3cbdd;">
  <a class="navbar-brand" routerLink="/">Colaboradores</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="cadastrar">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="listar">Listar Agrupado</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
